@media only screen and (max-width: 768px) {
  #mujer,
  #hombre {
    flex-direction: column;
    align-items: center;
  }

  .producto {
    width: 80%;
  }
}

#menu,
#primero,
#tercero,
#segundo {
  background-color: black;
  color: white;
  display: flex;
  list-style: none;
  position: static;
}

#primero {
  flex: 60%;
  align-items: center;
}

#segundo {
  flex: 30%;
  font-size: 70%;
  text-align: center;
  display: block;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

#tercero {
  margin: 1%;
  font-size: 25px;
  padding: 1%;
}

#menu li {
  list-style-type: none;
  margin: 1%;
  padding: 1%;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  display: none;
}

#menu li:hover {
  position: relative;
  background-color: #6c6260;
}

#menu li:hover ul {
  display: block;
  position: absolute;
  background-color: black;
  top: 100%;
}

#mujer,
#hombre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
}

.FimgU {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.producto {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 200px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.producto:hover {
  background-color: #6c6260;
  color: white;
}

.producto:hover .FimgU {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

#hombre > .producto {
  background-color: #3a959f;
  color: white;
}
